<div class="container">
  <div class="col">
    <div class="row">
      <div class="col">
        <h1>Player 1</h1>
        <img src="../assets/helmut.jpg" width="150" height="150">
      </div>
    </div>

    <div class="monsterField">

    </div>

    <div class="attackField">

    </div>

    <div class="attackField">

    </div>

    <div class="monsterField">

    </div>

    <div class="row">
      <div class="col">
        <img src="../assets/helmut.jpg" width="150" height="150">
        <h1>Player 2</h1>
      </div>
    </div>
  </div>
</div>
