<div class="container">

  <div class="card" style="width: 18rem;">
    <img src="src/assets/1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coolosauros</h5>
      <p class="card-text">He is too cool for everything, he will never have attack below zero</p>
      <a class="btn btn-primary">5 Attack points</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/assets/2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Vehicleraptus</h5>
      <p class="card-text">He was born because a dino and a car really really really love each other. He has the potential to reach the speed of light. Once a plus attack is placed on him, he will get 3 attack points more</p>
      <a class="btn btn-primary">2 Attack points</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/assets/3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Hellaciraptos</h5>
      <p class="card-text">A nightmare being. He escaped from the highway to hell and devour everything on the stairway to heaven. Every odd plus attack below 6 has the double effect on him </p>
      <a class="btn btn-primary">3 Attack points</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/assets/1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coolosauros</h5>
      <p class="card-text">He is too cool for everything, he will never have attack below zero</p>
      <a class="btn btn-primary">5 Attack points</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/assets/1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coolosauros</h5>
      <p class="card-text">He is too cool for everything, he will never have attack below zero</p>
      <a class="btn btn-primary">5 Attack points</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="src/assets/1.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Coolosauros</h5>
      <p class="card-text">He is too cool for everything, he will never have attack below zero</p>
      <a class="btn btn-primary">5 Attack points</a>
    </div>
  </div>
</div>
